#projects {
  background-color: #000000;
  flex-direction: column;
  justify-content: center;
}

.project-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4vh;
}

.tab-btn {
  background-color: transparent;
  border: 2px solid #5a42f3;
  color: #fff;
  padding: 10px 20px;
  width: 62vh;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.tab-btn:hover {
  background-color: #5a42f3;
}

.tab-btn.active {
  background-color: #5a42f3;
}


#projects h2 {
  color: #ffffff;
  font-size: 2.5rem;
  margin-top: 5vh;
  margin-left:10vh;
}

#projects h3 {
  color: #ffffff;
  font-size: 2rem;
}

.project-list {
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

.work-item + .work-item {
    margin-top: 4vh; /* 4vh space between consecutive items */
}

.work-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2vh;
  padding: 5vh;
  border-radius: 10px;
  background: rgb(36, 43, 57);
  transition: 0.4s ease;
  z-index: 0;
}

/* create gradient border effect */
.work-item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 2px; /* thickness of the border */
  background: linear-gradient(144deg, #af40ff, #5a42f3 50%, #00dbeb);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  opacity: 0; 
  transition: opacity 0.4s ease, filter 0.4s ease;
}

/* hover glow */
.work-item:hover::before {
  opacity: 1;
  filter: drop-shadow(0 0 12px #5a42f3);
}

.work-item:hover {
  background: linear-gradient(to bottom, #000000 0%, #5a42f385 100%);
}

.work-item p {
  text-align: justify;
  color: #c9d6ff;
  margin: 0;
  line-height: 1.5;
}

.work-pic img {
  width: 100vh;      /* adjust size */
  height: 15%;     /* maintain square shape */
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;    /* prevent shrinking */
  transition: transform 1.1s ease-in-out;
}
.work-item:hover .work-pic img {
  transform: scale(1.02); /* grow 15% */
}